name: Build points cache
on:
  schedule:
    - cron: "0 12 * * 1"
  push:
    paths:
      - ".github/workflows/build-points.yaml"
      - "generate_scripts/**"
      - "geomodel/**"
      - "geoparser/**"
      - "cmd/**"
      - "kv/**"
      - "osmpbfdb/**"
      - "go.mod"
      - "go.sum"
  workflow_dispatch:

jobs:
  Build-Points:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "post-cis_ru"
            maps: "europe/ukraine,russia,europe/belarus,europe/finland,europe/georgia,asia/afghanistan,asia/armenia,asia/azerbaijan,asia/kazakhstan,asia/uzbekistan,asia/mongolia,asia/armenia"
            locale: "ru"
          - name: "russia"
            maps: "russia"
            locale: "offical"
          - name: "post-cis"
            maps: "europe/ukraine,russia,europe/belarus,europe/finland,europe/georgia,asia/afghanistan,asia/armenia,asia/azerbaijan,asia/kazakhstan,asia/uzbekistan,asia/mongolia,asia/armenia"
            locale: "offical"
    env:
      MAPS: ${{ matrix.maps }}
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: false
      - name: Set Swap Space
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 16
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
          check-latest: true
          cache-dependency-path: go.sum
      - name: Update maps cache
        shell: bash
        run: |
          source ./generate_scripts/download_maps.sh
          download_maps $MAPS
      - name: Run generator
        shell: bash
        working-directory: cache_build
        run: |
          MAPS_FILES=()
          export IFS=","
          for map in $MAPS; do
              MAPS_FILES+="-i maps/${map}-latest.osm.pbf "
          done
          unset IFS
          go run ../cmd generate --pprof.profile --pprof.heap --stats stats.txt -l ${{ matrix.locale }} --version ${{ github.run_id }} -p ${{ matrix.name }}_points ${MAPS_FILES}
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.name }}_points
          path: |
            cache_build/${{ matrix.name }}_points.rgc
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.name }}_profile
          path: |
            cache_build/profile.cpu.pprof
            cache_build/profile.heap.pprof
            cache_build/stats.txt

  # keepalive-job:
  #   name: Keepalive Workflow
  #   runs-on: ubuntu-latest
  #   permissions:
  #     actions: write
  #   steps:
  #     - uses: actions/checkout@v4
  #     - uses: gautamkrishnar/keepalive-workflow@v2
